body{
    margin: 0;
    font-family: Calibri, Helvetica, sans-serif, Arial;
}
p {
    font-size: 2.75vh;
}



/*NavBar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #888;
}
li img.NavBarLogo{
    height: 32px;
    padding: 10px;
    margin: 0;
    border: none;
}
a.logolink{
    padding: 0;
}
  
li {
    float: left;
}
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}
/* Change the link color to #777 on hover */
li a:hover {
    background-color: #777;
  }

div.downstuff {
    background-color: #888;
    width: 100%;
    height: 10vh;
}

/* Copyright merkintä */
h1.copyright {
    margin-left: 5vh;
    font-size: 2vh;
    margin-top: 4vh;
}

div.Hello{
    margin-left: 10px;
}

h1.Hello{
    font-size: 7.5vh;
}
h2.Hello{
    font-size: 5vh;
    margin-top: -10px;
}
@media only screen and (max-width: 600px){
    h2.Hello, h1.Hello{
        text-align: center
    }
}
